/.obsidian/workspace.json
/.obsidian/plugins/realclaudian/manifest.json
/.obsidian/plugins/realclaudian/main.js
/.obsidian/plugins/realclaudian/styles.css
/.obsidian/community-plugins.json
/.obsidian/plugins/realclaudian/data.json
/.claudian/*

/desktop.ini